{% extends "ShakyamouniSiteBundle::layout.html.twig" %}

{% block body %}
    <section id="content" class="sbr">
        <div class="container clearfix">
            <div class="sixteen columns row">
                <article>
                    {{ message | raw }}
                </article>
            </div>
        </div>
    </section>

{% endblock %}